
<section>
    <div class="container" style="border-top:1px solid brown">
      <div class="row">
        <div class="col-xs-12 col-sm-6 ">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center"><b>JOIN WITH</b></h5>
              
              <a routerLink="/home" target="_blank"><span class="col-md-4 glyphicon glyphicon-home text-center"></span></a>
              <a href="https://www.facebook.com/" target="_blank"><span class="col-md-4 glyphicon glyphicon-envelope text-center"></span></a>
              <a href="https://www.youtube.com/" target="_blank"><span class="col-md-4 glyphicon glyphicon-camera text-center"></span></a> 
  
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center"><b> REGISTER TO RECEIVE INFORMATION</b></h5>
              <div>
                <div class="col-md-6">
                <div class="form-group row">
                  <input class="form-control" type="number" name="email" placeholder="Your email" style="width: 100%">
                </div>
                <!-- form-control: giúp căn chỉnh bằng với thiết kê -->
                </div>

                  <div class="col-md-6">
                    <div class="email">
                    <button class="btn btn-warning" type="submit" style="width: 100%">Sign up</button>
                  </div>
                  </div>
                </div>
  
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

<article id="tham-khao" class="container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">

        <div class="card-body">
          <h5 class="card-title">INFORMATION ABOUT KITAN'S</h5>
          <p>Information about Kitan's Imitation</p>
          <p>Secure customer information</p>
          <p>Development process</p>
          <p>Shipping method</p>
          <p>Shop system</p>
          <p>Achievement</p>
          <p>Recruitment</p>
          <p>Contact</p>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card-body">
          <h5 class="card-title">CUSTOMER SUPPORT</h5>
          <p>Information about Kitan's Imitation</p>
          <p>Shopping guide</p>
          <p>Payment Guide</p>
          <p>Repay the order</p>
          <p>Shipping method</p>
          <p>Warranty policy exchange</p>
          <p>Instructions for measuring jewelry size</p>
          <p>Instructions for using jewelry</p>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">

        <div class="card-body">
          <h5 class="card-title">MANUAL FOR USE</h5>
          <p>Information about Kitan's Imitation</p>
          <p>Jewelry by date</p>
          <p>Feng shui jewelry</p>
          <p>Jewelry according to Diamond</p>
          <p>Jewelry according to Pearl</p>
          <p>Accumulate Friend Card points</p>
          <p>Page down by Gem</p>
          <p>ECZ jewelry</p>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card-body">
          <h5 class="card-title">SHOPPING SUPPORT</h5>
          <p>Call for purchase: (02363)3 888 000 (8:00 - 21:30)</p>
          <p>Call installment consultant: (02363)3 888 000 (8:00 - 21:30)</p>
          <p>Call for warranty: (02363)3 655 000 (8:00 - 21:30)</p>
          <p>Call the technique: (02363)3 872 000 (8:00 - 21:30)</p>
          <p>Facebook:Kitan's Jewelry</p>
        </div>
      </div>
    </div>
  </div>
</article>

<footer class="container-fluid text-center">
  <h4>©2017 KITAN'S IMITATION GEMSTONE SILVER JOINT STOCK COMPANY</h4>
  <p>38 Yên Bái, Q.Hải Châu, TP.Đà Nẵng - phone: (02363)3 888 000 - Fax: 028 3995 1702 - email:customerservices@kittan.com</p>
  <p>Certificate of business registration: 0300521758</p>
</footer>

<button class="open-button" onclick="openForm()"><span class="glyphicon glyphicon-envelope"></span> Message</button>

<div class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">

    <label for="msg"><b>Message</b></label>
    <textarea placeholder="Type message.." name="msg" required></textarea>

    <button type="submit" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
