<div class="container">
  <section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
  
      </ol>
  
      <!-- Wrapper for slides -->
     
  
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <a href="#"><img src="../assets/images/jewelry/pendants/slide_pendants/slide1.jpg" style="width: 100%"></a>
          <div class="carousel-caption">
          </div>      
        </div>
  
        <div class="item">
            <a href="#"><img src="../assets/images/jewelry/pendants/slide_pendants/slide2.jpg" style="width: 100%"></a>
            <div class="carousel-caption"></div>      
        </div>
  
        <div class="item">
            <a href="#"><img src="../assets/images/jewelry/pendants/slide_pendants/slide2.jpg" style="width: 100%"></a>
            <div class="carousel-caption">
          </div>      
        </div>
  
      </div>
      
  
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  </div>
<br>
  <!-- <section class="container">
    <div class="row">
      <div class="col-sm-4 col-md-2">
        <p>IMAGE</p>
      </div>
      <div class="col-sm-4 col-md-2">
          <p>PRODUCT</p>
      </div>
      <div class="col-sm-4 col-md-2">
          <p>PRICE</p>
      </div>
      <div class="col-sm-4 col-md-2">
          <p>QUANTITY</p>
      </div>
      <div class="col-sm-4 col-md-2">
          <p>TOTAL</p>
      </div>
      <div class="col-sm-4 col-md-2">
          <p>REMOVE</p>
      </div>
    </div>
  </section> -->

  <div class="container">
      <h1>Your cart</h1>
      <p>Please check the product information</p>            
      <table class="table">
        <thead>
          <tr>
            <th>IMAGE</th>
            <th>PRODUCT</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th>TOTAL</th>
            <th>REMOVE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="">IMG</a></td>
            <td>KITTAN'S DDDDW002689</td>
            <td>50,000 USD</td>
            <td>2</td>
            <td>100,000 USD</td>
            <td>Delete</td>
          </tr>
          <tr>
              <td><a href="">IMG</a></td>
              <td>KITTAN'S DDDDW002689</td>
              <td>50,000 USD</td>
              <td>2</td>
              <td>100,000 USD</td>
              <td>Delete</td>
            </tr>
            <tr>
                <td><a href="">IMG</a></td>
                <td>KITTAN'S DDDDW002689</td>
                <td>50,000 USD</td>
                <td>2</td>
                <td>100,000 USD</td>
                <td>Delete</td>
              </tr>
              <tr>
                  <td><a href="">IMG</a></td>
                  <td>KITTAN'S DDDDW002689</td>
                  <td>50,000 USD</td>
                  <td>2</td>
                  <td>100,000 USD</td>
                  <td>Delete</td>
                </tr>
                <tr>
                    <td><a href="">IMG</a></td>
                    <td>KITTAN'S DDDDW002689</td>
                    <td>50,000 USD</td>
                    <td>2</td>
                    <td>100,000 USD</td>
                    <td>Delete</td>
                </tr>
         
        </tbody>
      </table>
    </div>