
<br>
<h4 class="text-center">PRODUCT SELECTION STANDARDS</h4>
<div id="wedding" class="container">
  <hr>
    <div class="row">
      <div class="card">
        <div class="card-body">
          <div class="col-xs-6 col-sm-4 col-md-2">
            <select class="tuy-chon">
              <option value="#" disabled>Brand</option>
              <option value="#">Tiffany & Co</option>
              <option value="#">Cartier</option>
              <option value="#">BvLgari</option>
            </select>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-2">
          <select class="tuy-chon">
            <option value="#" disabled>Jewelry Type</option>
            <option value="#">Shake Round</option>
            <option value="#">Ring</option>
            <option value="#">Stiff</option>
            <option value="#">Products By Set</option>
          </select>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-2">
          <select class="tuy-chon">
            <option value="#" disabled>Main Stone</option>
            <option value="#">Ruby</option>
            <option value="#">Topaz</option>
            <option value="#">Pearl</option>
            <option value="#">Gemstone Mix</option>
          </select>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-2">
          <select class="tuy-chon">
            <option value="#" disabled>Color Material</option>
            <option value="#">Gold</option>
            <option value="#">White</option>
            <option value="#">Rubber</option>
            <option value="#">Gold + Wite</option>
            <option value="#">Pink + White</option>
            <option value="#">Gold Merchant Goods</option>
            <option value="#">Different Color</option>
          </select>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-2">
          <select class="tuy-chon">
            <option value="#" disabled>Gender</option>
            <option value="#">male</option>
            <option value="#">Female</option>
          </select></div>
          <div class="col-xs-6 col-sm-4 col-md-2">
          <select class="tuy-chon">
            <option value="#" disabled>Compare By Price</option>
            <option value="#">Short Popularity</option>
            <option value="#">Short Avanger Rating</option>
            <option value="#">High To Low </option>
            <option value="#">Low To High</option>
          </select>
        </div>
        </div>
      </div>
    </div>
  <hr>
</div>
  